body {
    background-color: #222;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 0px;
}
h1 { color: #fff; }
a { color: #ddf; }

/* Layers */
#layerContainer { overflow: auto; position: relative; }
#imageLayer { border: 1px solid white; width: 100%; height: 100%; }
#drawLayer { position: absolute; width: 100%; height: 100%; }
#tempLayer { position: absolute; width: 100%; height: 100%; }
#infoLayer { position: absolute; width: 100%; height: 100%; }
#plot { position: absolute; }

/* Tag list */
table.tagList { border-collapse:collapse; }
table.tagList thead td { font-weight: bold; }
table.tagList td { border: 1px solid grey; padding: 2px; }
.highlighted { background: #f87217; }
