# GIT ignored files

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
