body {
    background-color: #87AEC5;    
    font-family: Verdana, Arial, Helvetica, sans-serif ;
    font-size: 80%;
    margin: 0px;
    padding: 0px;
    background-image: url('images/header.gif');
    background-repeat: repeat-x;
}
h1 { color: #fff; margin: 10px; padding: 10px; }

/* layout */
#left {
    position: absolute;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
}

#container { 
    overflow: auto; 
    position: relative; 
    margin: 10px 10px 10px 250px;
    padding: 0px; 
    height: 580px; 
    float: left; 
}

#right { 
    margin: 10px; 
    padding: 10px; 
    float: left; 
    border: 1px solid white;
}

#imageLayer { 
    border: 1px solid #000;
}
#drawLayer {
    position: absolute; 
    top: 1px; 
    left: 1px;
}

/* tag list */
table.tagList { border-collapse:collapse; }
table.tagList th { border: 1px solid black; }
table.tagList td { border: 1px solid black; }

/* colourChooser */
table.colourChooser td { width:20px; height:20px; border:#fff solid 2px; }
table.colourChooser #black { background: black; }
table.colourChooser #white { background: white; }
table.colourChooser #red { background: red; }
table.colourChooser #green { background: green; }
table.colourChooser #blue { background: blue; }
table.colourChooser #yellow { background: yellow; }
table.colourChooser #lime { background: lime; }
table.colourChooser #fuchsia { background:fuchsia; }

